<link href="css/login.css" rel="stylesheet">
<ion-view id="fondo">
    <ion-content>
        <br>
        <img id="logo" src="img/Logo.png" height="100%">
        <div class="card">
            <div class="item item-divider item-dark">
                <center>Contactenos</center>
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <input type="tel" placeholder="Teléfono" ng-model="telefono">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input type="text" placeholder="Mensaje" ng-model="mensaje">
                    </label>
                </div>
            </div>

        </div>
        <center>
            <button class="button button-dark icon ion-paper-airplane boton" ng-click="toLogin()" ng-model="enviar">
                Enviar
            </button>
        </center>
    </ion-content>
</ion-view>