<link href="css/login.css" rel="stylesheet">
<ion-view id="fondo">
    <ion-content>
        <br>
        <img id="logo" src="img/Logo.png" height="15%">
        <div class="card">
            <div class="item item-divider">
                <center>Recuperar Contraseña</center>
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <input id="code" type="text" placeholder="Codigo "ng-model="details.code">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="newPassword" type="password" placeholder="Contraseña nueva "ng-model="details.newPassword">
                    </label>
                </div>
                <div class="item item-text-wrap">
                    &nbsp; Revisa tu correo y encuentra un mail llamado "Password Reset" e ingresa el código y tu nueva contraseña.
                </div>
            </div>
        </div>
        <center>

            <div id="btnRecClave" class="button button-stable icon ion-paper-airplane boton" ng-click="toLogin()">
                Enviar
            </div>
        </center>
    </ion-content>
</ion-view>