<ion-view>
    <ion-nav-title>
        <center>
            <img class="button button-clear" src="img/Logo.png" ng-click="toSomos()" style="padding: 0% 20% 0% 0%;">
        </center>
    </ion-nav-title>

    <ion-content>
        <div class="item item-dark item-divider">
            <center> Elige tu ciudad</center>
        </div>
        <ion-list>
            <div ng-repeat="provincia in provincias">
                <ion-item class="item-stable" ng-click="toggleprovincias(provincia)" ng-class="{active: isprovinciashown(provincia)}">
                    <i class="icon" ng-class="isprovinciashown(provincia) ? 'ion-log-out' : 'ion-log-in'"></i> &nbsp; {{provincia[0].descripcion}}
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="z in provincia[1]" ng-show="isprovinciashown(provincia)" ng-click="toMapaLocalidad(localidad)">
                    <div class="">
                        <p><b>{{z.descripcion}}  ${{z.costo}}</b></p>

                    </div>
                    <br>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>