<ion-view>
    <ion-nav-title>
        <center>
            <img class="button button-clear" src="img/listRest/joniFood.png" style="padding: 1% 20% 1% 0%;">
        </center>
    </ion-nav-title>

    <ion-content>
        <div class="item item-assertive item-divider">
            <center> Elige tu ciudad</center>
        </div>
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <div ng-repeat="provincia in provincias">
                <ion-item class="item-stable" ng-click="toggleprovincias(provincia)" ng-class="{active: isprovinciashown(provincia)}">
                    <i class="icon" ng-class="isprovinciashown(provincia) ? 'ion-log-out' : 'ion-log-in'"></i> &nbsp; Provincia {{provincia.name}}
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="localidad in provincia.localidades" ng-show="isprovinciashown(provincia)" ng-click="toLocalidad(localidad)">
                    &nbsp; Localidad {{localidad}}
                </ion-item>
            </div>
        </ion-list>
        <!--
        <div>
            <div class="bar bar-header item-input-inset bar-assertive">
                <label class="item-input-wrapper">
             <i class="icon ion-ios-search placeholder-icon"></i>
              <input type="search" placeholder="Buscar" ng-model="filtro">
                </label>
            </div>
            <div class="list card assertive" ng-repeat="ciudad in ciudades | filter : filtro">
                <a href="#/app/{{ciudad.id}}" class="item item-icon-left">
                    <i class="icon  ion-ios-location"></i>
                    <h2>{{ciudad.nombre}}</h2>
                </a>
            </div>
        </div>
-->
    </ion-content>
</ion-view>