<link href="css/datosPedido.css" rel="stylesheet">
<ion-view id="fondo" style="min-height: 100%;">
    <ion-content>
        <br>
        <div class="hide-on-keyboard-open">
            <img id="logo" src="img/Logo.png" height="100%">
        </div>
        <div class="list card">
            <label class="item item-input">
                <input type="text" placeholder="Dirección" ng-model="direccion" required>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Barrio" ng-model="barrio" required>
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="Teléfono" ng-model="telefono" required>
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Abona con $" ng-model="abonaCon" required>
            </label>
            <label class="item item-input">
                <textarea placeholder="Comentarios"></textarea>
            </label>
        </div>
        <center>
            <div class="hide-on-keyboard-open">
                <button class="button icon ion-paper-airplane boton jony" ng-click="toMisPedidos()" ng-model="enviar">
                Enviar
            </button>
                <button class="button button-dark icon ion-paper-airplane boton" ng-click="toMisPedidos()" ng-model="enviar">
                Enviar
            </button>
            </div>
        </center>
    </ion-content>
</ion-view>