<ion-view>
    <ion-nav-title>
        <img class="button button-clear" src="img/listRest/btnSerch.png" style="padding: 1% 0% 1% 0%; float: right;" ng-click="buscador()">
        <center>
            <img class="button button-clear" src="img/Logo.png" ng-click="toSomos()">
        </center>
    </ion-nav-title>
    <ion-tabs class="tabs-top tabs-icon-top tabs-secondary tabs-dark">
        <ion-tab title="Perfil" icon="ion-person">
            <ion-view title="Home">
                <ion-content>
                    <div class="padding">
                        <ion-item class="item descrip">
                            <center>
                                <div class="list">
                                    <div class="item">
                                        <img src="img/listRest/lafarola.jpg">
                                        <h2>{{datosComercio["nombre"]}}</h2>
                                        <div class="estrellas">
                                            <i ng-repeat="a in estrella" class="icon icon-full energized ion-star"></i>
                                            <i ng-repeat="a in estrellaVacias" class="icon ion-ios-star-outline"></i>
                                        </div>
                                    </div>
                                </div>

                                <p><b>Teléfono:</b> {{datosComercio["telefono"]}}</p>
                                <p><b>Dirección: </b>{{datosComercio["domicilio"]}}</p>
                                <p><b>Medio de Pago:</b> Efectivo</p>
                                <p><b>Horarios:</b> {{datosComercio["horarios"]}}</p>
                                <p style=" white-space: normal;"> <b>Descripción:</b> {{datosComercio["descripcion"]}}</p>
                                <img class="full-image" src="img\Descr-Carta\mapa.png">
                                <button class="button a button-full button-energized" ng-click="modal.show()">Calificar</button>
                            </center>
                        </ion-item>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Carta" icon="ion-ios-bookmarks-outline">
            <ion-view title="About">
                <ion-content>
                    <div class="list ">
                        <div class="item item-divider item-dark">
                            Promos del día
                        </div>
                        <div class="item item-thumbnail-left">
                            <img src="img\Descr-Carta\promo.png">
                            <center>
                                <h2>Promo Burger 2x1 </h2>
                                <p style=" white-space: normal;">Dos hamburguesas mas vaso de gaseosa</p>
                                <p>$200</p>
                            </center>
                            <a class="button button-small button-dark  icon ion-plus-round " style="float:right;" ng-click="crearPedido(z,numerosCantidad.selectedOption.id,0)"></a>
                            <div class="list lista">
                                <label class="item item-input item-select">                           Cantidad:
                                            <div class="input-label"></div>
                                            <select name="mySelect" id="mySelect" style="float:left;" ng-options="option.id for option in numerosCantidad.availableOptions track by option.id" ng-model="numerosCantidad.selectedOption"></select>
                                        </label>
                            </div>
                        </div>
                    </div>
                    <ion-list>
                        <div class="item item-divider item-dark">
                            Menú
                        </div>
                        <div ng-repeat="categoria in catComidas">
                            <ion-item class="item-stable icon icon-left" ng-click="togglecategorias(categoria)" ng-class="{active: iscategoriashown(categoria)}">
                                <i class="icon-right">
                                    {{categoria[0].descripcion}}
                                 <i style="float: right;"ng-class="iscategoriashown(categoria) ? 'ion-arrow-up-b' : 'ion-arrow-down-b' "></i></i>
                            </ion-item>
                            <ion-item class="item-accordion" ng-repeat="z in categoria[1]" ng-show="iscategoriashown(categoria)" ng-click="toLocalidad(localidad)">
                                <div>
                                    <a class="button button-small button-dark  icon ion-plus-round " style="float:right;" ng-click="crearPedido(z,numerosCantidad.selectedOption.id,0)"></a>
                                    <p><b>{{z.descripcion}}  ${{z.costo}}</b></p>
                                    <div class="list lista">
                                        <label class="item item-input item-select">                           Cantidad:
                                            <div class="input-label"></div>
                                            <select name="mySelect" id="mySelect" style="float:left;" ng-options="option.id for option in numerosCantidad.availableOptions track by option.id" ng-model="numerosCantidad.selectedOption"></select>
                                        </label>
                                    </div>
                                </div>
                                <br>
                            </ion-item>
                        </div>
                        <br><br>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
    <ion-footer-bar class="bar-dark  button-footer-bar" ng-if="hayPedido">
        <button class="button button-full icon  icon-left-right ion-android-cart" ng-click="abriPedido();getPrecioTotal()">
                          Tu pedido      
                    </button>
    </ion-footer-bar>
</ion-view>

<!--
<ion-content class="has-header">
    <div class="list">
        <a class="item item-avatar" href="#">
            <i class="icon ion-home"></i>
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
        </a>
    </div>
    
</ion-content>-->