<ion-view>
    <ion-nav-title>
        <center>
            <img class="button button-clear" src="img/listRest/joniFood.png" style="padding: 1% 20% 1% 0%;">
</center>
</ion-nav-title>
<ion-content class="has-header">
    <div class="list">
        <a class="item item-avatar" href="#">
            <i class="icon ion-home"></i>
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
        </a>
    </div>
    <ion-tabs class="tabs-top tabs-icon-top tabs-secondary tabs-dark">
        <ion-tab title="Perfil" icon="ion-person">
            <ion-view title="Home">
                <ion-content>
                    <div class="padding">
                        <ion-item class="item descrip" id="asd">
                            <img style="min-height: 50px;min-width: 50px" src={{datosComercio["pathimg"]}}>
<center>
    <p style="font-size:20px"><b>{{datosComercio["nombre"]}}</b></p>
<div class="estrellas">
    <i ng-repeat="a in estrella" class="icon icon-full energized ion-star"></i>
    <i ng-repeat="a in estrellaVacias" class="icon ion-ios-star-outline"></i>
</div>
<p><b>Teléfono:</b> {{datosComercio["telefono"]}}</p>
<p><b>Dirección: </b>{{datosComercio["domicilio"]}}</p>
<p><b>Medio de Pago:</b> Efectivo</p>
<p><b>Horarios:</b> {{datosComercio["horarios"]}}</p>
<p><b>descripción:</b> {{datosComercio["descripcion"]}}</p>
<img class="full-image" src="img\Descr-Carta\mapa.png">
<button class="button a button-full button-energized" ng-click="modal.show()">Calificar</button>
</center>
</ion-item>
</div>
</ion-content>
</ion-view>
</ion-tab>
<ion-tab title="Carta" icon="ion-clipboard">
    <ion-view title="About">
        <ion-content>
        </ion-content>
    </ion-view>
</ion-tab>
</ion-tabs>
</ion-content>
</ion-view>