<ion-view>
    <ion-nav-title>
        <img src="img/listRest/joniFood.png" height="100%" style="padding-top: 1%; padding-bottom: 1%;" class="center">
    </ion-nav-title>
    <ion-content>
        <div class="item item-divider item-dark barraPantallaInicio">
            <center>
                <p> 361</p><i class="ion-android-cart"></i>
                <p>DELIVERY CERCA TUYO </p>
            </center>
        </div>
        <div class="list logoLocal">
            <a class="item item-thumbnail-left" href="#">
                <img class="" src="img/lafarola.jpg">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/lafarola.jpg">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/lafarola.jpg">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/lafarola.jpg">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/lafarola.jpg">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/lafarola.jpg">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/lafarola.jpg">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/lafarola.jpg">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
        </div>
    </ion-content>
</ion-view>