<ion-view>
    <ion-nav-title>
        <img class="button button-clear" src="img/listRest/btnSerch.png" style="padding: 1% 0% 1% 0%;">
        <img class="button button-clear" src="img/listRest/btnMaps.png" style="padding: 1% 0% 1% 0%; float: right;">
        <center>
            <img class="button button-clear" src="img/listRest/joniFood.png">
        </center>
    </ion-nav-title>
    <ion-content>
        <div class="bar bar-header bar-dark">
            <div style="font-size: 2.8em; padding: 1% 0% 0% 0%; float: left;">
                23
            </div>
            <center>
                <img src="img/listRest/delivery.png" width="60%;" style="padding: 1% 0% 0% 2%;">
            </center>
            <a class="button button-clear" style="padding: 0% 0% 0% 0%; float: right;">
                Cambiar
            </a>
        </div>
        <div class="list logoLocal ">
            <a class="item item-thumbnail-left " href="# ">
                <img class=" " src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
        </div>
    </ion-content>
</ion-view>