<ion-view>
    <ion-nav-title>
        <img src="img/listRest/joniFood.png" height="100%" style="padding-top: 1%; padding-bottom: 1%;">
        <img class="button" src="img/listRest/btnSerch.png" height="85%" style="border-radius: 50%; padding: 0 0 0 0;">
        <img class="button" src="img/listRest/btnMaps.png" height="85%" style="border-radius: 50%; padding: 0 0 0 0;">

    </ion-nav-title>
    <ion-content>
        <div class="item item-divider item-dark">
            <div class="row">
                <div class="col col-15 ">
                    Cant
                </div>
                <div class="col col-15 ">
                    <img src="img/listRest/localNaranja.png" height="50%" style="padding: 5%">
                </div>
                <div class="col col-20 ">
                    Deliveris cerca tuyo!
                </div>
                <div class="col col-10">
                    <button class="button button-small button-ligth">
                        Cambiar
                    </button>
                </div>
            </div>
        </div>
        <div class="list logoLocal ">
            <a class="item item-thumbnail-left " href="# ">
                <img class=" " src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
            <a class="item item-thumbnail-left " href="# ">
                <img src="img/lafarola.jpg ">
                <h2>La Farola de Palermo</h2>
                <p>Pizzas - Milanesas - Parrilla </p>
                <p>60-90 min | $10 | $150 Minimo </p>
            </a>
        </div>
    </ion-content>
</ion-view>