<link href="css/inicio-principal.css" rel="stylesheet">
<ion-view view-title="Inicio" id="fondo">

    <ion-content class="centradoVertical">
        <center>
            <div id="circulito">
                <div class="row">
                    <div class="col col-40 "></div>
                    <div class="col col-20 ">
                        <a class="button btnTemplatePpal btnGrande" id="btn1" href="TEMPLATEDESTINO"></a>
                    </div>
                    <div class="col col-40 "></div>
                </div>

                <div class="row">
                    <div class="col col-10"></div>
                    <div class="col col-20 ">
                        <a class="button btnTemplatePpal btnMediano" id="btn2" href="TEMPLATEDESTINO"></a>
                    </div>
                    <div class="col col-40 "></div>
                    <div class="col col-20 ">
                        <a class="button btnTemplatePpal btnMediano" id="btn3" href="TEMPLATEDESTINO"></a>
                    </div>
                    <div class="col col-10"></div>
                </div>

                <div class="row">
                    <div class="col col-100 "></div>
                </div>

                <div class="row">
                    <div class="col col-100 "></div>
                </div>
                <div class="row">
                    <div class="col col-20 ">
                        <a class="button btnTemplatePpal btnChico" id="btn4" href="TEMPLATEDESTINO"></a>
                    </div>
                    <div class="col col-60 "></div>
                    <div class="col col-20 ">
                        <a class="button btnTemplatePpal btnChico" id="btn5" href="TEMPLATEDESTINO"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100 "></div>
                </div>
                <div class="row">
                    <div class="col col-100 "></div>
                </div>
                <div class="row">
                    <div class="col col-10 "></div>
                    <div class="col col-20 ">
                        <a class="button btnTemplatePpal btnMediano" id="btn6" href="TEMPLATEDESTINO"></a>
                    </div>
                    <div class="col col-40 "></div>
                    <div class="col col-20 ">>
                        <a class="button btnTemplatePpal btnMediano" id="btn7" href="TEMPLATEDESTINO"></a>
                    </div>
                    <div class="col col-10 "></div>
                </div>
                <div class="row">
                    <div class="col col-40 "></div>
                    <div class="col col-20 ">
                        <a class="button btnTemplatePpal btnGrande" id="btn8" href="TEMPLATEDESTINO"></a>
                    </div>
                    <div class="col col-40 "></div>
                </div>
            </div>
        </center>
    </ion-content>
</ion-view>