<ion-view view-title="Intro">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide id="fondo1">
            <h3>Donde sea que te encuentres...</h3>
            <center>
                <img src="img/pinJoniFood.png" style="width: 40%; height: 20%; margin: 0 0 0 0; padding: 0% 10% 0% 10%;">
            </center>
            </br>
            </br>
            </br>
            <p>
                Bienvenido a Joni Food, tu lugar para escojer deliverys y realizar pedidos estes donde estes.
            </p>
            <p>
                Comenzá con tu experiencia...
            </p>
            <center>
                <img src="img/Swipe_Left.png" style="width: 60%; height: 30%; display: block; margin: 0 0 0 0; padding: 0% 10% 0% 10%;">
            </center>

        </ion-slide>
        <ion-slide id="fondo2">
            <h3>Tan simple como...</h3>

            <div id="list">
                <h5>Registrate</h5>
                <ol>
                    <li>Elegi el tipo de comida que quieras</li>
                    <li>Busca el comercio que gustes</li>
                    <li>Realiza tu pedido y esperá a que llegue la comida al lugar que quieras!</li>
                </ol>
            </div>
            <center>
                <img src="img/Swipe_Left.png" style="width: 60%; height: 20%; display: block; margin: 0 0 0 0; padding: 0% 10% 0% 10%;">
            </center>

        </ion-slide>
        <ion-slide id="fondo3">
            <h3>Listo para elegir?</h3>
            <p>
                Buen provecho!!!!
            </p>
            <a class="button icon-right ion-chevron-right button-calm" ng-click="toPrincipal()">EMPEZAR</a>
        </ion-slide>
    </ion-slide-box>
</ion-view>
</script>

<script id="templates/main.html" type="text/ng-template">
    <ion-view hide-back-button="true" view-title="Awesome">
        <ion-content class="padding">
            <h1>Main app here</h1>
            <button class="button" ng-click="toIntro()">Do Tutorial Again</button>
        </ion-content>
    </ion-view>