<link href="css/login.css" rel="stylesheet">
<ion-view id="fondo">
    <ion-content>
        <br>
        <img id="logo" src="img/logo.png" height="100%">
        <div class="card">
            <div class="item item-divider">
                <center>Inicio Sessión</center>
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <input type="text" placeholder="Correo">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input type="password" placeholder="Contraseña">
                    </label>
                </div>
            </div>
        </div>
        <center>
            <div id="btnLogin" class="button button-balanced icon ion-log-in boton" ng-click="toPrincipal()">
                Iniciar sesión
            </div>
            <div id="btnLoginFb" class="button button-positive icon ion-social-facebook boton" ng-click="toPrincipal()">
                Inicia sesión con Faceboook
            </div>
        </center>
        <div class="list">
            <center>
                <div id="btnNewAcount" class="button button-clear icon ion-ios-plus-outline button-light boton" ng-click="toPrincipal()">
                    Crear cuenta nueva
                </div>
            </center>
        </div>
        <div class="bar bar-footer bar-dark">
            <div class="title">
                <button class="button button-clear">Términos y condiciones</button>
            </div>
        </div>

    </ion-content>
</ion-view>