<ion-view view-title="Inicio" id="fondo">

    <ion-content class="centradoVertical">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Mail" ng-model="detalis.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Pass" ng-model="detalis.password">
            </label>
            <button class="button button-small" ng-click="loguear()">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>