<link href="css/login.css" rel="stylesheet">
<ion-view id="fondo">
    <ion-content>
        <br>
        <img id="logo" src="img/Logo.png" height="100%">
        <div class="card">
            <div class="item item-divider">
                <center>Registro</center>
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <input id="nombre" type="text" placeholder="Nombre">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="apellido" type="text" placeholder="Apellido">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="correo" type="email" placeholder="Correo">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="pass1" type="password" placeholder="Contraseña">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="pass2" type="password" placeholder="Confirmar Contraseña">
                    </label>
                </div>
            </div>
        </div>
        <center>
            <div id="btnRegistrarse" class="button button-royal icon ion-ios-plus-outline boton" ng-click="toPrincipal()">
                Registrarse
            </div>
        </center>
    </ion-content>
</ion-view>