<link href="css/login.css" rel="stylesheet">
<ion-view id="fondo">
    <ion-content>
        <br>
        <img id="logo" src="img/Logo.png" height="100%">
        <div class="card">
            <div class="item item-divider">
                <center>Registro</center>
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <input id="nombre" type="text" placeholder="Nombre" ng-model="details.name">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="apellido" type="text" placeholder="Apellido"ng-model="details.username">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="correo" type="email" placeholder="Correo"ng-model="details.email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="pass1" type="password" placeholder="Contraseña"ng-model="details.password">
                    </label>
                    <label class="item item-input item-floating-label">
                        <input id="pass2" type="password" placeholder="Confirmar Contraseña"ng-model="details.password">
                    </label>

                    <input id="terms" type="checkbox" class="peque" ng-click="aceptarTerminos()">Acepto los <a ng-click="toTerminosCondiciones()"> Términos y Condiciones.</a></input>
                </div>
            </div>
        </div>
        <center>
            <button id="btnRegistrarse" class="button button-dark icon ion-ios-plus-outline boton" ng-click="toLogin()" ng-if="acepto == true">
                Registrarse
            </button>
        </center>
    </ion-content>
</ion-view>