<link href="css/login.css" rel="stylesheet">
<ion-view id="fondo">
    <ion-content>
        <br>
        <img id="logo" src="img/Logo.png" height="100%">
        <div class="card" style="padding: 0% 3% 6% 2%">
            <div class="item item-divider">
                <center>Nosotros</center>
            </div>
            <div class="text-box light">
                Please Read Carefully Before Using This Website: The following terms of service (“Terms of Service”) govern your use of the Stamplay Website (the “Site”) and the Stamplay web-based, application integration and data linking service accessed through the
                Site (“Service”), both of which are operated by Stamplay LTD. (“Stamplay”). By using the Site and/or the Service, you irrevocably agree that such use is subject to these Terms of Service. If you do not agree to these Terms of Service,
            </div>
            <div class="item item-divider">
                <center>Nuestro Objetivo</center>
            </div>
            <div class="text-box light">
                Stamplay is a technical service provider in the field of rapid application development on the Internet. For this purpose, Stamplay has developed a Service, which can be accessed by you on the Internet to initiate building web applications. The important
                functionality of the Service is to create application by mixing Site’s services and third party APIs. The Stamplay site, the software, and the documentation will be referred to collectively as the Stamplay platform.
            </div>
            <div class="item item-divider">
                <center>Sitios web linkeados</center>
            </div>
            <div class="text-box light">
                The Site may contain links to other websites that are not owned or operated by Stamplay, and you agree that Stamplay provides links to such websites solely as a convenience and has no responsibility for the content or availability of such websites, and
                that Stamplay does not endorse such websites or any products or services associated therewith. Your use of such websites will be subject to the terms of use applicable to each such website.
            </div>
            <div class="item item-divider">
                <center>Locación del Sitio y su Uso</center>
            </div>
            <div class="text-box light">
                Stamplay operates or controls the operation of this Site and the Service from offices in Italy and United Kingdom. In addition, the Site and the Service may be mirrored, and other websites operated or controlled by Stamplay may be located, at various
                locations in and outside of Italy or United Kingdom. Stamplay makes no representation or warranty that all of the features of this Site or Service will be available to you outside of Italy or United Kingdom, or that they are permitted
                to be accessed outside of Italy or United Kingdom. You acknowledge that you are solely responsible for any decision by you to use of this Site and/or the Service from other locations, and that such use may be subject to, and that you are
                responsible for, compliance with applicable local laws.
                <br><br> These Terms of Service constitute the entire agreement and understanding between the parties concerning the subject matter hereof, notwithstanding any different or additional terms that may be contained in the form of purchase
                order or other document used by you to place orders or otherwise effect transactions hereunder, which such terms are hereby rejected. These Terms of Service supersede all prior or contemporaneous discussions, proposals and agreements between
                you and Stamplay relating to the subject matter hereof.
                <br><br> No amendment, modification or waiver of any provision of these Terms of Service will be effective unless in writing and signed by an officer of Stamplay. If any provision of these Terms of Service is held to be invalid or unenforceable,
                the remaining portions will remain in full force and effect and such provision will be enforced to the maximum extent possible so as to effect the intent of the parties and will be reformed to the extent necessary to make such provision
                valid and enforceable. No waiver of rights by Stamplay may be implied from any actions or failures to enforce rights under these Terms of Service. These Terms of Service are intended to be and are solely for the benefit of Stamplay and
                you and do not create any right in favor of any third party.
                <br><br> These Terms of Service will be governed by and construed in accordance with the laws of the State of Delaware, without reference to its conflict of laws principles. All disputes arising out of or relating to these Terms of Service
                will be submitted to the exclusive jurisdiction of a court of competent jurisdiction located in London, United Kingdom, and each party irrevocably consents to such personal jurisdiction and waives all objections to this venue.
            </div>
        </div>
        <div class="bar bar-footerv bar-dark" style="margin-bottom: 0%">
            <div class="title">
                <button class="button button-clear" ng-click="toPrincipal()">Volver</button>
            </div>
        </div>

    </ion-content>
</ion-view>