#fondo {
    background-image: url("../img/iniPpal/fondoPpal.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#logo {
    width: 100%;
    height: 20%;
    display: block;
    margin: 0 auto 0 auto;
    padding: 0% 10% 0% 10%;
}

.card {
    margin: 5% 10% 10% 10%;
    background-color: transparent;
    border-radius: 5%;
}

.boton {
    margin: 2% 0% 4% 0%;
    width: 75%;
    border-radius: 5%;
}

.jony {
    background-color: #58b6cc;
    color: white;
}