/* Empty. Add your own CSS if you like */

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
    margin: 0%;
}

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#fondo1 {
    background-image: url("../img/fondo1.jpg");
    background-size: cover;
    color: white;
}

#fondo1 h3 {
    color: white;
}

#fondo2 h3 {
    color: white;
}

#fondo2 h3 {
    color: white;
}

#fondo2 {
    background-image: url("../img/fondo2.jpg");
    background-size: cover;
    color: white;
}

#fondo3 {
    background-image: url("../img/fondo3.jpg");
    background-size: cover;
    color: white;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}

#list ol {
    margin-top: 30px;
}

#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide {
    display: none;
}

.barraPantallaInicio {
    margin: 0%;
    height: 10%;
}

.barraPantallaInicio p {
    color: orange;
    margin: 0%;
}

.logoLocal img {
    border: gray 5px solid;
}

.icon ion-record {
    color: white;
}


.logoLocal img{
  float: left;
  width: 100px;
  height: 100px;
}

.estrellas i{
  font-size: 20px;
}

.btnFav {
     float: right;
  margin-top: -10px;
  margin-right: -11px;
    }

    .descrip p{
  white-space: normal
}
.descrip h2{
  white-space: normal
}
.descrip h3{
  white-space: normal
}
.descrip h4{
  white-space: normal
}