/* Empty. Add your own CSS if you like */

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
    margin: 0%;
}

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#fondo1 {
    background-image: url("../img/fondo1.jpg");
    background-size: cover;
    color: white;
}

#fondo1 h3 {
    color: white;
}

#fondo2 h3 {
    color: white;
}

#fondo2 h3 {
    color: white;
}

#fondo2 {
    background-image: url("../img/fondo2.jpg");
    background-size: cover;
    color: white;
}

#fondo3 {
    background-image: url("../img/fondo3.jpg");
    background-size: cover;
    color: white;
}

#fondo3 h3 {
    color: white;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}

#list ol {
    margin-top: 30px;
}

#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide {
    display: none;
}

.barraPantallaInicio {
    margin: 0%;
    height: 10%;
}

.barraPantallaInicio p {
    color: orange;
    margin: 0%;
}

.logoLocal img {
    border: gray 5px solid;
}

.icon ion-record {
    color: white;
}

.logoLocal img {
    float: left;
    background-size: contain;
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.estrellas i {
    font-size: 20px;
}

.btnFav {
    float: right;
    margin-top: -10px;
    margin-right: -11px;
}

.descrip p {
    white-space: normal;
}

.descrip {
    white-space: normal;
}

.descrip h2 {
    white-space: normal
}

.descrip h3 {
    white-space: normal
}

.descrip h4 {
    white-space: normal
}

.item-avatar i:first-child,
.item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.list .item.item-accordion {
    line-height: normal;
    padding-top: 6%;
    padding-left: 2%;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.combo select {
    width: 20%
}

.map {
    width: 100%;
    height: 100%;
}

#gmaps {
    width: 100%;
    height: 100%;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}


/*VOTO NUEVO CSS */

.ionic_ratings .icon {
    font-size: 30px;
}

.ionic_ratings .read_only {
    pointer-events: none;
}


/*TERMINA VOTO NUEVO CSS*/